.header-bar {
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-container button {
    border-radius: 50%;
    background-color:white;
    color: #444;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

.header-container button:hover {
    transform: scale(1.1);
}

.header-container h3 {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}