<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Flex-Layout</title>
</head>
<body>
    <header class="header-container">
        <h1>MY AWESOME WEBSITE</h1>
    </header>

    <div class="body">
        <div class="sidebar">
          <ul>
            <li><a href="#">⭐ - link one</a></li>
            <li><a href="#">🦸🏽‍♂️ - link two</a></li>
            <li><a href="#">🖌️ - link three</a></li>
            <li><a href="#">👌🏽 - link four</a></li>
          </ul>
        </div>
        <div class="container">
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, evenietasa so musak?</div>
        </div>
    </div>
    
    <footer class="footer-container">
        <h3>My Flex Project ❤️</h3>
    </footer>
</body>
</html>