body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: white;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item-container ul {
    text-decoration: none;
    list-style: none;
}

.item-container ul li {
    display:inline-block;
    text-decoration: none;
    list-style: none;
    margin-right: 200px;
}

.image-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.table-container table, th, td {
    border:1px solid black;
  }

.table-container th {
    background-color: lightblue;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}